.wrapper{
    width:450px;
    height:50px;
    position:relative;
    margin:auto;
    background:#ccc;
    overflow:hidden;
    display: flex;
    justify-content: space-between;
  }
  
  .wrapper::after {
    width:fit-content;
    height:48px;
    content:"";
    position:absolute;
    border:solid 1px white;
  }
  
  .box{
    width:200px;
    height:50px;
    position:absolute;
    background:red;
    font-size:25px;
    line-height:50px;
    text-align:center;
    color: white;
    
  }
  
  
  
  .boxes {
    position:relative;
    left:-50px;
  }
  
  .nav {
    position:relative;
    text-align:center;
   
    color:white;
    font-size:20px;
    margin:20px 0;
  }