@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pathway+Gothic+One&display=swap");


.custom-font-family{
  /* font-family: "Nanum Gothic", sans-serif;
  font-family: "Pathway Gothic One", sans-serif; */
  font-weight: 400;
}

.swiper-button-prev {
  left: 43% !important;
  top: 67% !important;
}

.swiper-button-next {
  right: 43% !important;
  top: 67% !important;
}

.swiper-button-prev::after {
  font-size: 20px !important;
  color: black;
}

.swiper-button-next::after {
  font-size: 20px !important;
  color: black;
}
