@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Pathway+Gothic+One&display=swap');


.custom-font-family{
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Pathway Gothic One", sans-serif;
  font-weight: 400;
}
