.swiper-button-prev::after {
  font-size: 10px !important;
  rotate: -45deg;
}

.swiper-button-next::after {
  font-size: 10px !important;
  rotate: -45deg;
}

.arrows-bg {
  background-image: radial-gradient(at top right, #f1e522 25%, #5aa63d 60%);
}

.arrows-border-bg {
  background-image: radial-gradient(at top right, #f1e522 25%, #5aa63d 60%);
}

.bb {
  border-image: linear-gradient(#f6b73c, #4d9f0c) 10;
  border-width: 2px;
  border-style: solid;
}
