.swiper.swiper-initialized.swiper-horizontal.mySwiper.swiper-backface-hidden{
    height: 350px !important;
}


@media only screen and (max-width: 500px) {
    .swiper-button-prev, .swiper-button-next {
        width: 5% !important;
    }
}

@media only screen and (min-width : 501) and (max-width: 768px) {
    .swiper-button-prev, .swiper-button-next {
        width: 20% !important;
    }
}


